html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.menu-horizontal {
    position: fixed;
    width: 100%;
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(9,121,84,0.639093137254902) 0%, rgba(0,255,141,1) 100%);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 50px;
    box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.5);
    font-family: 'Comfortaa', cursive;
}

.menu-horizontal .menu-item {
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;     
}

#btnOpen {
    float: left; 
    width: 70px;
    text-align: center;
    cursor: pointer;
}

#logo {
    width: 100px;
    margin: auto;
    font-family: 'Pacifico', cursive;
}

#login {
    float: right;    
}

ul.menu-vertical {
    position: absolute;
    top: 50px;
    display: block;
    width: 250px;
    height: auto;
    background-color: rgb(242, 242, 242);
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.5);
    display: none;
    z-index: 50;
}

ul.menu-vertical li.menu-item {
    display: block;
    padding: 8px;    
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: black;
    line-height: 70px;
}

ul.menu-vertical li.menu-titulo{
    background-color: lightgreen;
}

ul.menu-vertical li.menu-item .asp_button {

}

#da-espaco {
    height: 50px;
    width: 100%;
    top: 0%;    
    z-index: -99;
}

.asp_button {
    text-decoration: none;
    border: none;
    color: black;
    background: none;
}

.asp_button:hover {
    color: black;
}

div.content {    
    text-align: left;
    margin: auto;
    margin-top: 50px;
    display: block;
    position: relative;   
    width: 90vw;
    background-color: rgb(242, 242, 242);
    z-index: -1;
    font-family: 'Comfortaa', cursive;
    padding-top: 15px;
    padding: 20px;
    color: black;
    box-shadow: 0px 0px 5px 0.5px rgba(50, 50, 50, 0.5);    
}

.content h1.title {
    font-family: 'Comfortaa', cursive;
}

.content p.text {
    font-family: 'Comfortaa', cursive;
}

h1.title-originais {
    font-size: 46px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

hr.hr-originais {
    border-width: 2px;  
    border-color: lightgrey;
    width: 90%;
    margin: auto;    
    margin-top: 50px;
    margin-bottom: 50px;
}

ul.opcoes {
    font-family: 'Comfortaa', cursive;    
    margin: auto;
    width: 80%;
    list-style: none;
    display: block;
    padding: 0;
    display: block;
    text-align: center;
    z-index: -99;
}

.opcoes li {
    margin: auto;
    width: 350px;
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(0,36,33);    
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
}

.opcoes li:hover{
    background-color: lightgray;
}

.opcoes li.ativo {
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(9,121,84,0.639093137254902) 0%, rgba(0,255,141,1) 100%);     
}

div.tab-paciente {
    width: 80%;
    height: 500px;    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 170px;
}

.consultas-paciente {
    border: solid grey 2px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    color: black;
}

.consultas-paciente td {
    border: solid grey 2px;
    line-height: 30px;
    text-align: center;
    height: 100%;
}

.consultas-paciente .proposito {    
    color: black;
    font-weight: bold;
}

.consultas-paciente .proposito td {
    line-height: 50px;
}

.consultas-paciente .observacoes td{
    line-height: 70px;
}

.pedido-consulta {
    padding: 25px;
    top: 0;
    position: relative;
    display: none;
    width: 100%;
    height: 100px;
    border: solid 2px grey;
    font-family: 'Comfortaa', cursive;
}

.agenda, .perfil {
    width: 100%;
    height: 100px;
    border: 2px gray solid;
    display: none;
}

/*
nav.leftnav {
    position: relative;
    float: left;
    height: 100%;
    position: fixed;
    width: 15vw;
    font-family: 'Comfortaa', cursive;
    font-size: 70%;
    border-right: solid 1px #a6a6a6;
    line-break: normal;
    z-index: 9999;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

.menu-item {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    padding: 20px 14px;    
    color: black;    
    font-size: 2em;
    background-image: none;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.menu-item:hover{
    background-color: #cccccc;
    text-decoration: none;
    color: black;
}

.menu-item i {
    margin-right: 10px;
}

#demo {
    background-color: #00cc00;
    font-size: 2.5em;
    color: white;
    border-bottom: solid 1px #a6a6a6;
}


.content {
    box-sizing: border-box;
    left: 20vw;
    width: 85vw;
    position: relative;
    font-size: 70%;  
}

.content div.title {        
    padding: 10px 14px; 
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(#66ffff,#4dffa6);
    color: black;   
}

.content div.title h1 {
    padding: 30px 0px;
    font-size: 8em;
    font-family: 'Pacifico', cursive;
}

.content .title h2 {
    font-size: 3em;
    font-family: 'Baloo Tammudu', cursive;
    padding: 0;    
}

.content .title h1, h2 {    
    margin: 0;   
    text-align: center;
}

.content .title hr {
    margin-top: 0px;
    border: 2px solid white; 
    border-radius: 5px;
    width: 85%;
}

.content h1{
    font-family: 'Baloo Tammudu', cursive;
    font-size: 3em;
    color: black;
    padding: 0;
    margin-bottom: 20px;
}

.content h1 i {
    margin-right: 10px;
}

.content h2 {
    text-align: left;
    color: black;
    font-size: 2.5em;
    font-family: 'Baloo Tammudu', cursive;
}

.content p{
    text-align: justify;
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    height: auto;
    text-indent: 100px;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    color: black;
}

.btnClose, .btnOpen {
    display: none;
    cursor: pointer;
}

.btnClose {
    float: right;
}

#medicos-sorrindo {
    height: 200px;
    background-image: url("medico-sorrindo.jpg");
    background-position:center;
    background-size:cover;
}

.section {
    margin: 0;
    padding: 20px 40px;
    border-bottom: solid 1px #a6a6a6;
}

#quem-somos {        
    background-image: url("medico-paciente.jpg");
    background-position-x:center;
    background-position-y:top;
    background-size:cover;
    background-repeat: no-repeat;
}

#quem-somos p {
    background-color: rgba(204, 204, 204, 0.7);
}

#quem-somos i {
    color: #ff0000;
}

#consultas i {
    color: #33cc33;
}

#titulo-pacientes {
    font-family: 'Baloo Tammudu', cursive;
    text-align: left;
    font-size: 5em;
}

#subtitulo-pacientes {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 2em;
}*/

.formulario {
    display: block;
    position: absolute;     
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    padding: 15px;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.5);
}

.formulario .legenda {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center;    
    width: 59%;
}

.formulario .campo {    
    margin: auto;
    padding: 5px;
}

.formulario .campo label {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: black;
}

    /*
.formulario .campo input[type=text] {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
}

.formulario .campo input[type=button] {
    text-decoration: none;
    background: none;
    border: none;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}*/

.formulario .input_text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;    
    right: 0;
    display: inline-block;
    width: 100%;   
}

.formulario .asp_label {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: black;   
    display: block;
    margin-right: auto;    

}

.formulario .asp_button {
    display: block;
    width: 50%;
    background: none;
    border: solid grey 1px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin: auto;
}

.formulario hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario #lbMsg {
    text-align: center;
    margin-top: 25px;   
}



