@media screen and (max-width: 992px) {
    nav.leftnav {
        display: none;
    }

    .btnClose, .btnOpen {
        display: block;
    }

    .content {
        margin-left: 0;
        width: 100vw;
    }
}

@media screen and (min-width: 992px) {
    nav.leftnav {
        display: block;
    }

    .btnClose, .btnOpen {
        display: none;
    }

    .content {
        margin-left: 20vw;
        width: 80vw;
    }
}
